.linhasHome{
    width: 70%;
    margin-left: 25%;
}
  
#linha1{
    padding-top: 2%;
    display: flex;
    justify-content: space-between;
}

#dashboradHome{
  margin-top: 5%;
  width: 100%;
  border-radius: 0 25px 25px 25px;
}

.videoYoutube{
  width: 48%;
}


#frameCredito{
  border-radius: 0 25px 25px 25px;
  border: solid 0.5px rgba(255, 255, 255, 0.49);
  margin-top: 3%;
  width: 70%;
  height: 350px;
  background-image: url(../../assets/img/EntendaCarbono.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#frameCredito a{
  background-color: yellowgreen;
  width: 100%;
  height: 100%;  
}
